body {
  background-color: rgb(150, 59, 115);
}
#level {
  font-size: 14px;
  width: 30px;
  background-color: white;
}
.leveling {
  font-size: 15px; 
  margin-left: 32px;
  background-color: white;
}
#score {
  font-size: 14px;
  width: 50px;
  background-color: white;
}
.scoring {
  font-size: 15px;
  margin-left: auto;
  background-color: white;
}
div {
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}
#tetris {
  background-color: white;
}
canvas {
  display: block;
  margin: 0 auto;
  display: flex;
  border: 3px solid rgb(150, 123, 192);
}
#leftarrow {
  padding: 3px 20px;
}
#rightarrow {
  padding: 3px 20px;
}
#downarrow {
  padding: 3px 40px;
}
#control {
  display: flex;
  justify-content: center;
  align-items: center;
}
#increment {
  background-color: white;
}
#decrement {
  background-color: white;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}